[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = git@github.com:foundry-rs/forge-std.github
[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = git@github.com:dapphub/ds-test.git
