[submodule "contracts/lib/ds-test"]
	path = contracts/lib/ds-test
	url = git@github.com:dapphub/ds-test.git
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
