html,
body {
  background-color: #183140;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Lato;
  font-weight: normal;
  color: #1e313f;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus,
input:focus {
  outline: none;
}

button:focus,
button:hover {
  opacity: 0.8;
}

section {
  padding: 150px 0;
}

main {
  min-height: 100vh;
  position: relative;
}

main.dapp {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 451px, #183140 ), color-stop( 451px,  #183140 ), color-stop( 451px, #fafbfc ) ); /* Chrome, Safari4+ */
  background-image: -webkit-linear-gradient( top, #183140 451px, #183140 451px, #fafbfc 451px ); /* Chrome10+, Safari5.1+ */    
  background-image:    -moz-linear-gradient( top, #183140 451px, #183140 451px, #fafbfc 451px ); /* Fx3.6+ */   
  background-image:         linear-gradient(      #183140 451px, #183140 451px, #fafbfc 451px ); /* W3C */
  padding-bottom: 150px;
}

main.dapp.medium {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 300px, #183140 ), color-stop( 300px,  #183140 ), color-stop( 300px, #fafbfc ) ); /* Chrome, Safari4+ */
  background-image: -webkit-linear-gradient( top, #183140 300px, #183140 300px, #fafbfc 300px ); /* Chrome10+, Safari5.1+ */    
  background-image:    -moz-linear-gradient( top, #183140 300px, #183140 300px, #fafbfc 300px ); /* Fx3.6+ */   
  background-image:         linear-gradient(      #183140 300px, #183140 300px, #fafbfc 300px ); /* W3C */
}

main.dapp.short {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 94px, #183140 ), color-stop( 94px,  #183140 ), color-stop( 94px, #fafbfc ) ); /* Chrome, Safari4+ */
  background-image: -webkit-linear-gradient( top, #183140 94px, #183140 94px, #fafbfc 94px ); /* Chrome10+, Safari5.1+ */    
  background-image:    -moz-linear-gradient( top, #183140 94px, #183140 94px, #fafbfc 94px ); /* Fx3.6+ */   
  background-image:         linear-gradient(      #183140 94px, #183140 94px, #fafbfc 94px ); /* W3C */
  padding-bottom: 132px;
}

main.dapp.shorter {
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 282px, #183140 ), color-stop( 282px,  #183140 ), color-stop( 282px, #fafbfc ) ); /* Chrome, Safari4+ */
  background-image: -webkit-linear-gradient( top, #183140 282px, #183140 282px, #fafbfc 282px ); /* Chrome10+, Safari5.1+ */    
  background-image:    -moz-linear-gradient( top, #183140 282px, #183140 282px, #fafbfc 282px ); /* Fx3.6+ */   
  background-image:         linear-gradient(      #183140 282px, #183140 282px, #fafbfc 282px ); /* W3C */
  padding-bottom: 132px;
}

main:not(.dapp) .banner {
  color: white;
}

section {
  color: white;
  background-color: #1a82ff;
}

section.dark {
  background-color: #183140;
}

section.light {
  background-color: #fafbfc;
  color: #183140;
}

.mono {
  font-family: 'Courier Prime', monospace;
}

.flex-grow {
  flex-grow: 1;
}

.btn-clear {
  border: solid 1px white;
  background-color: transparent;
  color: white;
}

.btn-clear:hover {
  background-color: white;
  color: var(--dark-two);
}

.btn-clear-blue {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 35px;
  border-radius: 25px;
  border: solid 1px #1a82ff;
  background-color: #fafbfc;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #1a82ff !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear-blue:hover {
  text-decoration: none;
  opacity: 0.8;
}

.btn-blue {
  padding: 0px 60px;
  height: 50px;
  border-radius: 25px;
  background-color: #1a82ff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fafbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.btn-blue:disabled {
  opacity: 0.1;
}

.btn-blue:hover {
  background-color: #0a72ef;
}

.btn-dark {
  padding: 0px 60px;
  height: 40px;
  border-radius: 25px;
  background-color: #183140;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fafbfc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
}

.btn-dark:disabled {
  opacity: 0.1;
}

.btn-dark:hover:enabled,
.btn-dark:active:enabled {
  background-color: #001120;
  opacity: 1;
}

.shadowed-box {
  border-radius: 10px;
  border: solid 1px #cdd7e0;
  background-color: #ffffff;
  box-shadow: 0 0 14px 0 rgba(24, 49, 64, 0.1);
}

/* sorry for global hacks */
.dropdown-marble {
  border-radius: 15px;
  border: solid 1px white;
  font-size: 0.6875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  color: white;
}
.dropdown-menu .dropdown-marble {
  margin-right: 18px;
}
.dropdown-menu a:not(:last-child) > div {
  margin-bottom: 10px;
}

.dropdown-menu a .active {
  font-weight: bold;
}

.dropdown-marble.dropdown-item {
  background-color: #1a82ff;
}

.active .dropdown-marble.dropdown-item {
  background-color: #1e313f;
}

.dropdown-menu {
  right: 0;
  left: auto;
  top: 135%;
  border-radius: 10px;
  box-shadow: 0 0 14px 0 rgba(24, 49, 64, 0.1);
  border: solid 1px #cdd7e0;
  padding: 20px 30px 20px 20px;
  min-width: 170px;
}

.dropdown-menu.dropup {
  bottom: 153%;
  top: auto;
}

.dropdown.dropdown-marble:hover {
  background-color: white;
}
.dropdown.dropdown-marble:hover .nav-dropdown .language-selected {
  color: #183140;
}

.dropdown-marble:hover {
  cursor: pointer;
  text-decoration: none;
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu a:hover div {
  opacity: 0.8;
}
.navbar-toggler > .dropdown-marble {
  background-color: transparent;
}

.Toastify__toast {
  padding: 8px;
  padding-left: 20px;
  border-radius: 3px;
  font-family: Lato;
}

.Toastify__toast--success {
  background-color: #385160;
}

.Toastify__toast--error {
  
}

@media (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 799px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  main.dapp.shorter {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 439px, #183140 ), color-stop( 439px,  #183140 ), color-stop( 439px, #fafbfc ) ); /* Chrome, Safari4+ */
    background-image: -webkit-linear-gradient( top, #183140 439px, #183140 439px, #fafbfc 439px ); /* Chrome10+, Safari5.1+ */    
    background-image:    -moz-linear-gradient( top, #183140 439px, #183140 439px, #fafbfc 439px ); /* Fx3.6+ */   
    background-image:         linear-gradient(      #183140 439px, #183140 439px, #fafbfc 439px ); /* W3C */
    padding-bottom: 132px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 940px !important;
  }
}